<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%=I18n.t("action_mailer.authorize_user.line_1")%></h1>
<p>
  <%=I18n.t("action_mailer.authorize_user.line_2", :link=>@url)%>
</p>
</body>
</html>