<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%=I18n.t("action_mailer.tour_scheduled_confirmation.subject")%></h1>
<p>
  <%=I18n.t("action_mailer.tour_scheduled_confirmation.line_1")%>
</p>
</body>
</html>